<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Produkty</title>
</head>
<body>

<div class="container">
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Measure</th>
            <th>Description</th>
        </tr>
        <c:forEach items="${products}" var="product">
            <tr>
                <td>${product.name}</td>
                <td>${product.category}</td>
                <td>${product.price}</td>
                <td>${product.amount}</td>
                <td>${product.measure}</td>
                <td>${product.description}</td>
                <td>
                    <form action="/add_product" method="post" >
                        <button>
                            <i class="button" value="Add product"></i>
                        </button>
                    </form>
                    <form action="/delete_product" method="post" onclick="return confirm('Are you sure you want to delete product?');">
                        <input hidden name="id" value="${product.id}">
                        <button>
                            <i class="fas fa-trash"></i>
                        </button>
                    </form>
                    <form action="/edit_product" method="post" >
                        <input hidden name="id" value="${product.id}">
                        <button>
                            <i class="fas fa-cog"></i>
                        </button>
                    </form>
                </td>
            </tr>
        </c:forEach>
    </table>
</div>

</body>
</html>